/*? BACKGROUND COLOR */
body{
    background-color: lightgray;
}

.description{
    background-color: #fff;
    text-align: center;
}

/*! GENERICS LISTA */
ul{
    list-style-type: none
}

li{
    margin-bottom: 50px;
    padding: 10px;
}

/* GENERICS CARD */
.name-person{
    padding-top: 10px;
}

.description-person{
    padding-bottom: 10px;
}


