body{
    background-color: lightgray;
}

img{
    width: 400px;
    height: 429px;
}

ul{
    list-style-type: none
}

li{
    margin-bottom: 50px;
    padding: 10px;
}

.description{
    background-color: #fff;
}

.name-person{
    text-align: center;
    padding-top: 10px;
}

.description-person{
    text-align: center;
    padding-bottom: 10px;
}


